body{
  background-image: url("images/image1.jpg");
}

h1{
  color: red;
  font-size: 50px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}
.parent{
  margin-top: 10px;
  margin-bottom: 0;
  height: 670px;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: 1px 0px 2px #ffffff;
}
h4{
   font-family: fantasy;
   text-align: center;

}

}
.overlay{
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px 0 0 5px;
  height: 670px;
}
.akan{
  font-size: 40px;
  padding-top: 20px;
  font-weight: bolder;
  font-family: system-ui;
}
.top-form{
  margin-top: 30px;
}
.labels{
  font-family: sans-serif;
  font-weight:normal;
  font-size: 25px;
  color: maroon;

}
.p-text{
  margin: 30px 30px 30px 10px;
  color: indigo;
  font-size: 20px;
  font-family: 'Khula', sans-serif;
}
.genders{
  margin-left: 50px;
}
.btn{
  margin-left: 50px;
  margin-top: 20px;
  height: 45px;
  width: 200px;
  border-radius: 20px;
}
.q-text{
  color: black;
  font-size: 30px;
  font-weight: bold;
  margin: 90px 30px 30px 20px;
}
#result{
  margin-top: 10px;
  color: DimGrey;
  font-size: 18px;
}
